<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | Contact</title>
  </head>

  <body>

    <h1>Contact</h1>
    <p>Contact available at <a href="http://railstutorial.org/feedback">Rails Tutorial online</a>.</p>

  </body>
</html>